@keyframes appear {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.main__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 500px;
  z-index: -1;
}

.main__title {
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin: 100px 0 50px;
  animation: 2s appear;
}

.main__button {
  color: #fff;
  font-size: 24px;
  border: 2px solid;
  padding: 14px 70px;
  border-radius: 50px;
  background: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto 135px;
  display: block;
  transition: 0.2s ease-in;
}

.main__button:hover {
  background: rgba(173, 255, 66, 0.8);
}
