.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__link {
  width: 70px;
  height: 70px;
  background-image: url(../../images/Logo-white.svg);
  background-repeat: no-repeat;
}

.header__link:hover {
  background-image: url(../../images/Logo-green.svg);
  opacity: 1;
}

.header__title {
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 810px) {
  .header__link {
    width: 50px;
    height: 50px;
  }

  .header__title {
    font-size: 18px;
  }
}

@media (max-width: 505px) {
  .header__link {
    width: 40px;
    height: 40px;
  }

  .header__title {
    font-size: 14px;
  }

  .header__container {
    gap: 10px;
  }
}
