.side__container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  border-right: 1px solid #8acc35;
}

.side__image {
  height: 150px;
  border: 1px solid #8acc35;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px -1px 39px -10px rgba(138, 204, 53, 0.5);
  -moz-box-shadow: 0px -1px 39px -10px rgba(138, 204, 53, 0.5);
  box-shadow: 0px -1px 39px -10px rgba(138, 204, 53, 0.5);
}

.name__container {
  display: flex;
  gap: 30px;
  margin: 10px 0 10px;
}

.side__title {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.side__symbol {
  margin: 0;
  opacity: 0.6;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding-top: 3px;
  align-content: center;
}

.price__container {
  display: flex;
  gap: 40px;

  -webkit-box-shadow: 0px -5px 5px -5px rgba(138, 204, 53, 0.6) inset;
  -moz-box-shadow: 0px -5px 5px -5px rgba(138, 204, 53, 0.6) inset;
  box-shadow: 0px -5px 5px -5px rgba(138, 204, 53, 0.6) inset;
}

.side__price {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.side__price24h {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  align-content: center;
  margin: 0;
}

.side__range-line {
  margin-top: 25px;
  width: 90%;
  height: 6px;
  background-image: linear-gradient(to left, #16c784, #ea3943);
  border-radius: 5px;
}
.side__range {
  margin: 2px 0 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.side__description {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  width: 90%;
}

a {
  text-decoration: none;
  color: #8acc35;
  transition: 0.2s ease;
}

a:hover {
  opacity: 0.6;
}

.data__container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.market__data {
  display: flex;
  gap: 15px;
}

.data__title {
  margin-bottom: 0;
}
.atp {
  font-size: 10px;
}
